/* HEX */
:root {
  --primary: #4CB6C2;
  --primary_light: #7FC7BD;
  --white: #FFFFFF;
  --light: #EDF7F2;
  --dark: #193F43;
  --black: #0F282B;
}

/* RGBA */
:root {
  --primary: rgb(76,182,194);
  --primary_light: rgb(127,199,189);
  --white: rgb(255,255,255);
  --light: rgb(237,247,242);
  --dark: rgb(25,63,67);
  --black: rgb(15,40,43);
}